  @import url('https://fonts.googleapis.com/css2?family=Chivo:wght@200;400;600;800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Chivo', sans-serif;
    font-size: 10px;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification{
    background-color: rgb(255 255 255);
    padding: 10px 20px;
    width: fit-content;
    width: 400px;
    border-radius: 5px; 
    margin:10px;
}
p{
    margin-top: 5px;
}
#btn{
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 0 5px 10px black;
    font-size: 16px;
    font-weight: 600;
}
#btn:active{
    box-shadow: 0 0 0 0;
}
#container{
    position: absolute;
    right: 0;
    bottom: 0;
}
.notification, .notification *{
    font-size: 14px;
}
.logo-info{
    display: flex;
    align-items: center;
}
.logo-info img{
    width: 20px;
    margin-right: 5px;
}
.logo-info h2{
    opacity: 0.5;
    font-weight: 400;
    text-transform: uppercase;
}
.logo-info h3{
    opacity: 0.5;
    margin: auto 0 auto auto;
}
h1{
    text-transform: capitalize;
    margin-top: 5px;
}
h3{
    margin-top: 3px;
    font-weight: 400;
}
h3 span{
    font-weight: 800;
}